@import url(https://fonts.google.com/specimen/Hanken+Grotesk);

* {
    margin: 0;
    font-family: 'Hanken Grotesk';
    padding: 0;
}

main {
    font-family: 'Hanken Grotesk';
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.results-contener {
    display: flex;
    width: 700px;
    height: 500px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 31px -18px rgba(66, 68, 90, 0.5);
}

.results-main {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Hanken Grotesk';
    background: linear-gradient(0deg, hsla(241, 81%, 54%), hsla(252, 100%, 67%) 100%);
    border-radius: 30px;
    color: hsl(241, 100%, 89%);
}

.results-main h1 {
    margin-bottom: 39px;
}

.results-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180px;
    width: 180px;
    background: linear-gradient(0deg, hsla(241, 72%, 46%, 0) 0%, hsla(256, 72%, 46%, 1) 100%);
    border-radius: 50%;
    margin: 10px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    font-family: 'Hanken Grotesk';
}

.results-component span {
    font-size: 18px;
    color: hsl(241, 100%, 89%);
}

h3 {
    margin-top: 15px;
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk';
}

.results-main p {
    font-size: 16px;
    padding: 12px 74px;
    text-align: center;
    line-height: 25px;
    font-family: 'Hanken Grotesk';
}

.results-content h2 {
    padding: 3px;

}

.results-content h2 {
    text-align: center;
}

.results-content p {
    color: rgb(199, 196, 196);
    font-size: 12px;
    line-height: 23px;
    text-align: center;
}


.results-summary {
    background-color: hsl(0, 0%, 100%);
    display: inline-block;
    font-family: 'Hanken Grotesk';
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 16px 0px 0px 7px;
}
.results-summary h1 {
    font-size: 27px;
    align-items: center;
    justify-content: start;
    margin-left: 20px;
    margin-bottom: 35px;
    font-family: 'Hanken Grotesk';
    display: flex;
}

.results-reaction {
    display: flex;
    font-family: 'Hanken Grotesk';
    width: 287px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    align-items: center;
}

.results-memory {
    display: flex;
    width: 287px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    align-items: center;
}

.results-verbal {
    display: flex;
    width: 287px;
    margin-bottom: 30px;
    font-family: 'Hanken Grotesk';
    justify-content: space-evenly;
    align-items: center;
}

.results-visual {
    display: flex;
    width: 287px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    align-items: center;
}

.results-summary h2 {
    padding-right: 109px;
    font-size: 18px;
}

.results-reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.13);
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    font-family: 'Hanken Grotesk';
}

.results-memory {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.11);
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
}

.results-verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.11);
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
}

.results-visual {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.137);
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
}

.results-summary p {
    font-size: 18px;
    color: black;
}

.results-summary span {
    font-size: 18px;
    color: rgb(134, 133, 133);
}

button {
    margin-top: 14px;
    margin-left: 9px;
    padding: 15px 117px  15px 113px;
    background-color: hsl(224, 30%, 27%);
    border: none;
    border-radius: 32px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Hanken Grotesk';
}
button:hover{
    background: linear-gradient(0deg, rgb(46, 43, 233), rgba(121, 87, 255, 0.863) 100%);
    color: white;

}
@media(max-width:320px){
    .results-contener{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .results-contener {
        width: 500px;
        height: 200px;
    }
    .results-main {
        width: 50%;
        margin-top: 124px;
        margin-left: 124px;
    }
    
    .results-main h1{
        font-size: 24px;
       margin-top: 24px;
       margin-bottom: 0;
    }
    
.results-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
    font-size: 36px;
}
.results-component span {
    font-size: 10px;
    color: hsl(241, 100%, 89%);
}
h3 {
    margin-top: 23px;
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk';
}
.results-main p {
    font-size: 12px;
    padding: 14px 22px;
    line-height: 20px;
}
.results-summary {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 0 0 0;
}
.results-summary h1 {
    font-size: 19px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-weight: 100;
}

.results-reaction {
    width: 240px;
    margin-bottom: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.results-memory {
    width: 240px;
    margin-bottom: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.results-verbal {
    width: 240px;
    margin-bottom: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.results-visual {
    width: 240px;
    margin-bottom: 15px;
    justify-content: space-evenly;
    align-items: center;
}
.results-summary h2 {
    padding-right: 10px;
    font-size: 14px;
}
.results-contener {
    box-shadow: 0 0 0 -0 rgba(66, 68, 90, 0.5);
}
button {
    margin-top: 18px;
    margin-left: 12px;
    padding: 16px 90px;
    background-color: hsl(224, 30%, 27%);
    border: none;
    border-radius: 32px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Hanken Grotesk';
}
button:hover{
    background: linear-gradient(0deg, rgb(46, 43, 233), rgba(121, 87, 255, 0.863) 100%);
    color: white;

}
    
}